<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <title>Pet Pug</title>
</head>

<body>

    <div class="titulo">
        <h1>Blog da Pedrita</h1>
    </div>

    <div class="container">
        <div class="box-1">
            <p>Sobre os PUG's</p>
        </div>

        <div class="box-2">
            <p>Alimentação</p>
        </div>

        <div class="box-3">
            <p>Curiosidades</p>
        </div>
    </div>

    <h2>A Origem do Pug</h2>
    <p>
        Como dissemos no início deste artigo, o cachorro pug é originário da China, mas a sua história é muito mais
        antiga do que você imagina!
        Os primeiros registros são da China Antiga, onde em 700 a.C. já haviam escritos dos chamados “cães de boca
        curta”, que seriam possíveis precursores da raça.
        Mas apesar de ter sua origem na China, foi na Europa que os pugs ganharam popularidade, fazendo parte da realeza
        e sendo imortalizados em obras de arte.
        Durante a história, a raça vivenciou o surgimento de diferentes linhagens e cruzamentos, o que resultou nas
        características fenotípicas atuais do pug.
        Quer conhecer esta história completa? Dá uma olhada nos artigos a seguir!
    </p>

</body>

</html>